/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilos padrão para o modo claro */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo escuro */
body.dark {
  background-color: #2F2F2F;
  color: white;
}

/* Estilos do header */
header {
  background-color: #2F2F2F;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: left;
  margin: 10px;
  font-size: 24px;
}

h1 a {
  color: white;
  text-decoration: none;
}

/* Estilos para a navegação */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
  gap: 25px;
  margin: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #D46A2C;
  color: white;
  border-radius: 25px;
}

/* Estilos para o botão de modo escuro/claro */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2F2F2F;
  color: white;
  transition: background-color 0.3s ease;
  margin-left: 20px; /* espaçamento entre o botão e a navegação */
}

button:hover {
  background-color: #D46A2C; /* cor laranja queimado */
}
